.nav {
	text-decoration: none;
	color: rgb(59, 52, 52);
	font-size: 18px;
	margin-left: 44px;
}

.nav:hover {
	cursor: pointer;
	color: black;
	text-decoration: underline;
}

.navPost {
	/* margin-right: 10px; */
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px auto;
	max-width: 800px;
}

